.input {
  height: calc(100vh - 3em);
  width: 100%;
  font-family: Inconsolata;
}

.output {
  height: calc(100vh - 3em);
  overflow-y: auto;
}

.floating-btn {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

@media print {
  .row {
    display: block;
  }
  .input, .floating-btn, .file-input {
    display: none;
  }
  .output {
    max-width: 100%;
    height: 100%;
  }
  blockquote {
    border: inherit;
  }
}
